* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #392f80;
  font-family: Helvetica, sans-serif;
  color: rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
	text-align: center;
}

.container > img {
	width: 100%;
}

.container {
	text-align: center;
	width: 60%;
}

@media (max-width: 450px) {
	.container {
		width: 90%;
	}
}

@media (max-width: 800px) {
	.container {
		width: 70%;
	}
}
